@use "../abstracts/vars";
@use "../abstracts/mixins";

.book-header {
  background-image: url(img/book_splash.png);
  width: 100%;
  height: 350px;
  display: grid;
  background-size: cover;
  background-position: 65% 10%;
}

.book-first-section {
  color: vars.$secondary;
  margin-inline: 1rem;
  margin-block: 2rem;

  @include mixins.bp-medium {
    margin-inline: 4rem;
  }

  @include mixins.bp-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-inline: 2rem;
    margin-top: 4rem;
  }

  @include mixins.bp-huge {
    margin-inline: 8rem;
  }

  .intro-text {
    @include mixins.bp-large {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-top: 2rem;
    }
  }

  h1 {
    text-align: center;

    @include mixins.bp-large {
      text-align: left;
    }
  }

  p {
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  .image {
    display: grid;
    justify-content: center;
    @include mixins.bp-large {
      grid-column: 2/3;
      grid-row: 1/3;
    }
  }

  img {
    max-width: 30rem;
    border: 2px solid vars.$secondary;
    padding: 0.8rem 0.8rem 4rem 0.8rem;
  }

  .text-nav {
    margin-block: 2rem;
    display: grid;
    justify-content: center;

    @include mixins.bp-large {
      grid-column: 1/2;
      grid-row: 2/2;
      justify-content: left;
    }
  }

  h2 {
    font-size: 3.5rem;
    text-align: center;
  }

  a {
    color: vars.$secondary;
    text-decoration: underline;
    line-height: 2rem;
  }
}

.textbox-left {
  color: vars.$secondary;
  margin-inline: 1rem;
  margin-top: 5rem;

  @include mixins.bp-medium {
    display: grid;
    grid-template-columns: 2fr 1fr;
    //margin-left: 5rem;
  }

  @include mixins.bp-huge {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 8rem;
  }

  hr {
    border: 2px solid vars.$brandcolor;
  }

  h3 {
    margin-block: 1.8rem 0.2rem;
  }
  p {
    line-height: 2.5rem;
  }
}

.textbox-right {
  color: vars.$secondary;
  margin-inline: 1rem;
  margin-top: 5rem;

  @include mixins.bp-medium {
    display: grid;
    grid-template-columns: 1fr 2fr;
    //margin-right: 5rem;
  }

  @include mixins.bp-huge {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-right: 8rem;
  }

  .right {
    @include mixins.bp-medium {
      grid-column: span 2/4;
    }
  }

  hr {
    border: 2px solid vars.$brandcolor;
  }

  h3 {
    margin-block: 1.8rem 0.2rem;
  }
  p {
    line-height: 2.5rem;
  }
}

#book-button {
  display: grid;
  justify-content: center;
  margin-block: 2rem 4rem;

  button {
    color: vars.$bgcolor;
    background-color: vars.$brandcolor;
    border: none;
    border-radius: 3px;
    font-family: vars.$paragraphfont;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 1rem;
    margin-top: 3rem;
    width: 20rem;
    align-self: center;
    margin-inline: auto;

    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
}
