@use "../abstracts/vars";
@use "../abstracts/mixins";

.landing-page {
  background-image: url(/forside_splash.JPG);
  width: 100%;
  height: 90vh;
  display: grid;
  background-size: cover;
  background-position: 52% 10%;

  @include mixins.bp-medium {
    display: grid;
    //grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 70% 30%;
    //align-content: center;
  }

  a {
    @include mixins.primary-button;
    min-width: 8rem;
    @include mixins.bp-medium {
      margin-top: 3rem;
    }

    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }

  h1 {
    @include mixins.h3;

    @include mixins.bp-medium {
      text-align: left;
    }
  }

  h3 {
    @include mixins.h1;
    margin-bottom: 1.25rem;

    @include mixins.bp-medium {
      text-align: left;
    }

    @include mixins.bp-wide {
      margin-top: -1rem;
      margin-left: 0.5rem;
    }
  }
}

.forside-text {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-self: center;
  background-color: #ffffffbd;
  padding: 1rem;

  @include mixins.bp-medium {
    background-color: vars.$primary;

    height: 100%;
    grid-row: 2/3;
  }
}

.forside-img {
  display: grid;
  justify-content: center;
  align-content: center;

  img {
    max-width: 60rem;
  }
}
