@import "tailwindcss";

@theme {
  /* 
--breakpoint-sm:  40rem (640px)	
--breakpoint-md:  48rem (768px)	
--breakpoint-lg:  64rem (1024px)
--breakpoint-xl:  80rem (1280px)	
--breakpoint-xxl: 96rem (1536px)	
*/
  --font-display: "Encode Sans Condensed", "sans-serif";
  --font-body: "Open Sans", "sans-serif";
  --font-alt: "Roboto Variable", "sans-serif";

  --color-primary: #fff6f6;
  --color-secondary: #1b0000;
  --color-accent: #e25973;
  --color-accent-dark: #d55c73;

  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
