---
import Layout from "../layouts/Layout.astro";
import splash from "~/assets/contact_splash.png";
---

<Layout title="CF Dans - Kontakt" location="/kontakt">
  <section class="relative h-screen">
    <img
      src={splash.src}
      alt="Kontakt CF Dans"
      class="w-full h-screen object-cover object-[48%_10%] md:object-[45%_0%]"
    />
  </section>

  <form name="contact" method="POST" data-netlify="true" onsubmit="onsubmit">
    <div>
      <label for="email">Din email </label>
      <input type="text" name="email" />
    </div>

    <div>
      <label for="subject">Emne </label>
      <input type="text" name="subject" />
    </div>
    <div>
      <label for="bodyText">Hvad vil du gerne spørge om?</label>
      <textarea name="bodyText"></textarea>
    </div>

    <button type="submit">Send</button>
  </form>
</Layout>
