---
import ButtonLink from "../shared/ButtonLink";
import footerBg from "~/assets/splash_2.webp";
---

<section class="relative md:h-[70vh]">
  <img
    src={footerBg.src}
    alt="Charlotte Frølund løfter trådløse hovedtelefoner højt i luften"
    class="w-full h-screen object-cover object-[48%_10%] md:object-[45%_0%] md:h-[70vh]"
  />
  <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <div
      class="flex flex-col items-center justify-center text-center"
      data-aos="fade-up"
      data-aos-easing="ease-out-back"
      data-aos-duration="1000"
    >
      <h2 class="font-display text-6xl text-nowrap text-white mb-8 md:mb-10">
        Slå dig løs
      </h2>

      <ButtonLink
        client:load
        label="Dans i det fri"
        url="/dans-og-tilmelding"
      />
    </div>
  </div>
</section>
