---
import ButtonLink from "~/components/shared/ButtonLink";
import Figure from "~/assets/figure.svg";
---

<section class="bg-primary py-10 px-4 md:py-20">
  <div class="relative flex justify-center items-center flex-col gap-3">
    <h2 class="text-2xl font-display md:text-3xl">Gratis prøvetime</h2>
    <p class="text-center mb-2 max-w-md">
      Hvis du ikke har danset med hos CF Dans før kan du deltage gratis første
      gang for at se om det er noget for dig.
    </p>
    <ButtonLink client:load label="Læs mere" url="/dansehold" />
    <div
      class="hidden lg:flex absolute top-0 right-1/8 xl:right-1/5 2xl:right-1/4"
    >
      <Figure />
    </div>
  </div>
</section>
