---
import ButtonLink from "~/components/shared/ButtonLink";
---

<section class="relative h-screen md:h-[calc(100vh-4.5rem)]" id="hero">
  <img
    src={"/splash.webp"}
    alt="Udendørs dans ved Kastrupfortet på Amager med glade deltagere"
    class="w-full h-screen object-cover object-[45%_10%] md:object-[45%_60%] md:h-[calc(100vh-4.5rem)]"
    fetchpriority="high"
  />
  <div class="absolute inset-0 flex items-center justify-center md:items-end">
    <div
      class="bg-primary/80 text-center w-full py-8 px-2 md:bg-primary/90 md:py-10"
    >
      <div
        data-aos="fade-right"
        data-aos-easing="ease-in-out-sine"
        data-aos-duration="1000"
      >
        <h2 class="text-md mb-2 font-display md:text-2xl">CF Dans</h2>
        <h1 class="text-xl sm:text-2xl font-display md:text-4xl">
          Dans i det fri med Charlotte Frølund
        </h1>
        <div
          class="flex justify-center mt-4"
          data-aos="zoom-in"
          data-aos-delay="1000"
          data-aos-duration="500"
          data-aos-anchor="#hero"
          data-aos-easing="ease-in-sine"
        >
          <ButtonLink client:load label="Dans med" url="/dans-og-tilmelding" />
        </div>
      </div>
    </div>
  </div>
</section>
