---
import Headphones from "~/assets/icons/headphones.svg";
import Music from "~/assets/icons/music.svg";
import Group from "~/assets/icons/group.svg";
import Sprout from "~/assets/icons/sprout.svg";
---

<section class="flex flex-col items-center justify-center py-20 px-4 md:py-32">
  <h2 class="font-display text-2xl text-center mb-10 md:mb-14 md:text-3xl">
    Ikke "bare" dans
  </h2>
  <div class="grid gap-10 md:grid-cols-[1fr_1fr]">
    <div class="max-w-xl">
      <div class="flex items-center gap-3 mb-4">
        <Headphones />
        <h3 class="text-lg">Befrielse</h3>
      </div>
      <p>
        Når vi danser er vores største fokuspunkt friheden. Både til kroppen
        gennem bevægelse men også til sindet ved at “give slip” på alle tankerne
        og bare nyde musikken og føle rytmen. Når vi danser i det fri i Kastrup,
        er der plads til hele dig i trygge og åbne omgivelser.
      </p>
    </div>
    <div class="max-w-xl">
      <div class="flex items-center gap-3 mb-4">
        <Music />
        <h3 class="text-lg">Passion</h3>
      </div>
      <p>
        Charlotte Frølund, som underviser til timerne, elsker det som dans giver
        og har danset hele sit liv. Dette kan i den grad mærkes og glæden og
        kærligheden til bevægelsen og musikken smitter. Uanset om du deltager i
        dans i det fri eller til events, vil du kunne mærke energien og glæden
        smitte af.
      </p>
    </div>
    <div class="max-w-xl">
      <div class="flex items-center gap-3 mb-4">
        <Group />
        <h3 class="text-lg">Omfavnende</h3>
      </div>
      <p>
        Hos CF Dans kan du ikke være for meget eller for lidt, for du er lige
        præcis, som du skal være. Du kan ikke danse forkert så længe du danser
        med, da vi danser for at have det sjovt og for at slippe kroppen løs.
        Dans i det fri handler ikke om præstation – det handler om at give sig
        selv plads.
      </p>
    </div>
    <div class="max-w-xl">
      <div class="flex items-center gap-3 mb-3">
        <Sprout />
        <h3 class="text-lg">Styrke</h3>
      </div>
      <p>
        Ved at have fokus på frirummet og trykke omgivelser håber CF Dans at du
        for alvor kan mærke din styrke, for at danse er også en måde at mærke
        sig selv på. Både din krops styrke, når du bevæger dig, men også
        sindets, når du er dig selv. I dansen – især under åben himmel i Kastrup
        – er der plads til både det stærke og det sårbare.
      </p>
    </div>
  </div>
</section>
