<section class="py-10 px-4 md:py-20" data-aos="fade-up">
  <h2 class="text-center text-2xl font-display md:text-3xl mb-10">
    Følg med på Instagram
  </h2>
  <div
    class="flex items-center justify-center flex-wrap gap-4 md:gap-10 min-h-[70vh]"
  >
    <iframe
      title="Sjovt billede af Charlotte Frølund som Barbie"
      width="320"
      height="440"
      class="border border-gray-200 h-[37rem]"
      src="https://www.instagram.com/p/DIZidEcMYTk/embed"></iframe>

    <iframe
      title="Video med thumbnail af en vandflaske hvor der står breathe"
      width="320"
      height="440"
      class="border border-gray-200 h-[37rem]"
      src="https://www.instagram.com/reel/DFSQ8p1MW9i/embed"></iframe>

    <iframe
      title="Charlotte Frølund tager et selfie med dansere i baggrunden"
      width="320"
      height="440"
      class="border border-gray-200 h-[37rem]"
      src="https://www.instagram.com/p/CrYsdIJolzw/embed"></iframe>
  </div>
</section>
