<section class="py-10 px-4 md:py-20" data-aos="fade-up">
  <h2 class="text-center text-2xl font-display md:text-3xl mb-10">
    Følg med på Instagram
  </h2>
  <div
    class="flex items-center justify-center flex-wrap gap-4 md:gap-10 min-h-[70vh]"
  >
    <blockquote
      title="instagram-media_1"
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/p/DIZidEcMYTk/?utm_source=ig_embed&utm_campaign=loading"
      data-instgrm-version="14"
    >
    </blockquote>
    <blockquote
      title="instagram-media_2"
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/reel/DFSQ8p1MW9i/?utm_source=ig_embed&utm_campaign=loading"
      data-instgrm-version="14"
    >
    </blockquote>
    <blockquote
      title="instagram-media_3"
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/p/CrYsdIJolzw/?utm_source=ig_embed&utm_campaign=loading"
      data-instgrm-version="14"
    >
    </blockquote>
  </div>
</section>

<script async src="//www.instagram.com/embed.js"></script>
