---
import "../styles/global.css";
import "@fontsource/encode-sans";
import "@fontsource/open-sans";
import { Image } from "astro:assets";
const { title, location } = Astro.props;
import Logo from "../../public/favicon.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "CF Dans"}</title>
  </head>
  <body class="text-secondary font-body">
    <header class="bg-white shadow p-3">
      <nav class="w-full flex justify-between">
        <a href="/" class="w-8"><Image src={Logo} alt="logo" /></a>
        <ul class="flex gap-12 py-2 items-center">
          <li>
            <a
              href="/tilmelding"
              class={`${location === "/tilmelding" && "underline underline-offset-2"} `}
              >Tilmelding</a
            >
          </li>
          <li>
            <a
              href="/dansehold"
              class={`${location === "/dansehold" && "underline underline-offset-2"} `}
              >Dansehold</a
            >
          </li>
          <li>
            <a
              href="/eventbooking"
              class={`${location === "/eventbooking" && "underline underline-offset-2"} `}
              >Event booking</a
            >
          </li>
          <li>
            <a
              href="/omcfdans"
              class={`${location === "/omcfdans" && "underline underline-offset-2"} `}
              >Om CF Dans</a
            >
          </li>
          <li>
            <a
              href="/kontakt"
              class={`${location === "/kontakt" && "underline underline-offset-2"} `}
              >Kontakt mig</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
